@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Overpass&family=Questrial&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  width: 100%;
  background-color: #452c63;
  color: #fff;
  /* display: flex;
  justify-content: center;
  align-items: center; */

}

h2 {
  font-family: Questrial;
  letter-spacing: 1px;

}

form {
  /* background-color: #444; */
  height: 400px;
  padding: 50px 0;

}

form input, form textarea {
  padding: 10px;
  width: 30%;
  margin: 10px 0;
  font-family: Overpass;
  color: rgb(185, 185, 185);
  border-radius: 3px;
  background: #151b24;
  transition: 200ms ease-out;
  border: 2px solid #8a8a8a;
}

form input:hover, 
form textarea:hover {
  border: 2px solid #8400ff
}

form input:focus, 
form textarea:focus {
  border: 2px solid #34ec7b

}
 form input {
   font-size: 16px;
 }



.button {
  padding: 15px 25px;
  background-color: rgb(121, 66, 209);
  border-radius: 5px;
  color: #fff;
  transition: 250ms ease-in-out;
  font-family: Overpass;
  font-size: 16px;
  

}

.button:hover, .button:focus {
  background-color: #444;
  color: #fff;
  transform: translateY(-2px) scale(0.96);
  -webkit-box-shadow: 0px 6px 19px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 19px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 19px 0px rgba(0,0,0,0.75);
}

/* .button:focus */

.pod-page {
  /* background-color: #91e893; */
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  margin-top: 25px;
}

.all-casts {
  /* position: fixed; */
  margin-top: 50px;
  width: 100%;
  padding: 1.5rem;
  /* background-color: #333099; */
}

.casts {
  border-radius: 10px;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  font-family: Questrial;
  background-color: #3a3737;
  margin: 10px 0;
  transition: 240ms ease-in-out;
}

.casts:hover {
  background-color: rgb(37, 37, 37);
  color: #fff;
  transform: translateX(-1px) scale(0.96);
  -webkit-box-shadow: 0px 6px 19px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 19px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 19px 0px rgba(8, 8, 8, 0.356);
}


.casts h3 {
  margin: 10px 0;
  color: rgb(158, 158, 158)
}

.footer {
  /* background-color: #fff; */
  text-align: center;
  color: #9fb4d3;
  width: 100%;
  padding: 1.5rem 0;
  font-family: Overpass;
  justify-content: flex-end;
  bottom: 0px;
  /* z-index: -10; */
  letter-spacing: 1px;

}

.footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
  border-radius: 100px;
  padding: 10px 15px;
  position: relative;
  transition: 250ms ease-out;
  
}

.footer a:hover {
  background-color: rgba(255, 255, 255, 0.082);
  color: #5dcf96;
  -webkit-box-shadow: 0px 6px 19px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 19px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 19px 0px rgba(54, 46, 46, 0.75);
  /* transform: translateX(-1px) scale(0.7); */
  left: 0;

}



@media (min-width: 706px) and (max-width: 1073px) {
  /* form input, form textarea {
    width: 100% ;
  } */

  body {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    /* justify-content: center; */
    width: 100%;
  }

  .casts {
    /* margin: 0; */
    padding: 0
  }
}

@media (min-width: 310px) and (max-width: 705px) {
  form input, form textarea {
    width: 100% ;
  }

  .casts {
    padding: 0px;
    background: none;
  }

  .casts:hover {
    padding: 15px;
  }
}